<html>
    <head>
        <title>"Forgot Password" Form (used for client-side tests)</title>

        {{>common-includes}}

        <!-- Bring in client library being tested -->
        <script type="text/javascript" src="/js/client/forgot.js"></script>
    </head>
    <body>
        <!-- Sample "forgot password" form with all required markup -->
        <div class="row">
            <div class="forgot-viewport"/>
        </div>

        {{{initBlock "gpii.express.couchuser.frontend.forgot"}}}
    </body>
</html>



