<html>
    <head>
        <title>Login Form (used for client-side tests)</title>

        {{>common-includes}}

        <!-- Bring in client libraries being tested -->
        <script type="text/javascript" src="/js/client/login.js"></script>
    </head>
    <body>
        <div class="controls-viewport"></div>
        <div class="login-viewport"></div>

        {{{initBlock "gpii.ul.hasUserControls" "gpii.express.user.frontend.login"}}}
    </body>
</html>