<html>
    <head>
        <title>Reset Form (used for client-side tests)</title>

        {{>common-includes}}

        <!-- Bring in client library being tested -->
        <script type="text/javascript" src="/js/client/passwordCheckingForm.js"></script>
        <script type="text/javascript" src="/js/client/reset.js"></script>
    </head>
    <body>
        <!-- Sample reset form with all required markup -->

        <div class="row">
            <div class="reset-viewport"></div>
        </div>


        {{{initBlock "gpii.express.user.frontend.reset"}}}
    </body>
</html>




