<html>
    <head>
        <title>Resend your verification code.</title>

        {{>common-includes}}

    </head>
    <body>
        <div class="row">
            <div class="column small-12">
                {{>common-message}}
            </div>
        </div>
    </body>
</html>


