<div class="column small-offset-4 small-4">
    <div class="resend-error"></div>
    <div class="resend-success"></div>

    <form class="resend-form" method="POST">
        <p>You must verify your email address to use this system.  You can use this form to request another copy of your verification code.</p>

        <label for="email">Email Address:</label>
        <input id="email" type="text" tabindex="1" name="email" placeholder="Enter your email address...">

        <input type="submit" tabindex="3" class="button resend-button" value="Send Verification Email">
    </form>
</div>