<html>
    <head>
        <title>Signup Form (used for client-side tests)</title>

        {{>common-includes}}

        <!-- Bring in client library being tested -->
        <script type="text/javascript" src="/js/client/passwordCheckingForm.js"></script>
        <script type="text/javascript" src="/js/client/signup.js"></script>
    </head>
    <body>
        <!-- Sample signup form with all required markup -->

        <div class="body">
            <div class="signup-viewport"></div>
        </div>

        {{{initBlock "gpii.express.couchuser.frontend.signup"}}}
    </body>
</html>


