<div class="column small-offset-4 small-4">
    <div class="forgot-error"></div>
    <div class="forgot-success"></div>

    <form class="forgot-form" method="POST">
        <p>Please enter the email address you used when creating your account, and a password reset email will be sent to you.</p>

        <label for="email">Email Address:</label>
        <input id="email" type="text" tabindex="1" name="email" placeholder="Enter your email address...">

        <input type="submit" tabindex="3" class="button forgot-button" value="Send Email">

        <p>Already know your username and password?  <a href="login">Log in now.</a></p>

        <p>No account?  <a href="signup">Sign up now.</a></p>
    </form>
</div>