<!-- Sample login form with all required markup -->
<div class="row">
    <div class="column small-offset-4 small-4">
        <div class="login-success"></div>
        <div class="login-error"></div>
        <form class="login-form" method="POST">
            <p>Please enter your username and password to log in.</p>

            <label for="username">Username:</label>
            <input id="username" type="text" tabindex="1" name="username" placeholder="Enter your username...">

            <label for="password">Password:</label>
            <input id="password" type="password" tabindex="2" name="password">

            <input type="submit" tabindex="3" class="login-button" value="Log In">
        </form>
    </div>
</div>

