<div class="row">
    <div class="column small-offset-4 small-4">
        <div class="signup-error"></div>
        <div class="signup-success"></div>

        <form class="signup-form" method="POST">
            <p>Use the form below to create an account (you will need to verify your email address before you can log in).</p>

            <label for="username">Username:</label>
            <input id="username" type="text" tabindex="1" name="username" placeholder="Enter your username...">

            <label for="email">Email Address:</label>
            <input id="email" type="text" tabindex="2" name="email" placeholder="Enter your email address...">

            <label for="password">Password:</label>
            <input id="password" type="password" tabindex="3" name="password">

            <label for="confirm">Retype Password:</label>
            <input id="confirm" type="password" tabindex="4" name="confirm">

            <input type="submit" tabindex="5" class="button signup-submit" value="Sign Up">

            <p>Have an account?  <a href="login">Log in now.</a></p>
        </form>
    </div>
</div>


